<div id="app" data-controller="demo">
  <ol>
    <li><button data-action="click->demo#launchDemo" data-name="Marvin" data-email="daniel@yahoo.com" data-title="Daddy">Daniel</button></li>
    <li><button data-action="click->demo#launchDemo" data-name="Booom" data-email="booom@yahoo.com" data-title="bamm">Caleb</button></li>
  </ol>

  <div class="modal" data-target="demo.modal" data-controller="modal cohost">
    <div class="modal-dialog">
      <div class="modal-content">
        <h2 data-target="cohost.name"></h2>
        <span data-target="cohost.title"></span>
        <a data-target="cohost.email" href=""></a>
        <button data-action="click->modal#close">Close</button>
      </div>
    </div>
  </div>
</div>

<div >

  <%= form_for @comment do |form| %>
    <%= form.text_area :post  %>
    <%= form.submit "Post Comment" %>
  <% end %>

</div>
