<div id="app" data-controller="demo">
  <button> Launch demo</button>

  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        This is a modal
      </div>
    </div>
  </div>
</div>
